@import url(http://fonts.googleapis.com/css?family=Nunito);

html {
 font-family: 'Nunito', sans-serif;
 margin:0 auto;
 text-align: center;
}

body.light {
 color: black;
 background-color: #FFF;
 background: linear-gradient(left, rgba(255,255,255,.2) 0%,rgba(158,158,158,.2) 30%,rgba(158,158,158,.2) 70%,rgba(255,255,255,.2) 100%), #FFF;
 background: -webkit-linear-gradient(left, rgba(255,255,255,.2) 0%,rgba(158,158,158,.2) 30%,rgba(158,158,158,.2) 70%,rgba(255,255,255,.2) 100%), #FFF;
 background: -moz-linear-gradient(left, rgba(255,255,255,.2) 0%,rgba(158,158,158,.2) 30%,rgba(158,158,158,.2) 70%,rgba(255,255,255,.2) 100%), #FFF;
}

a {
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

#star.saved {
 background: url('/img/star.png') top left no-repeat;
}

#star.not_saved {
 background: url('/img/unstar.png') top left no-repeat;
}

body.light #set_theme {
 background: url('/img/moon.png') top left no-repeat;
}

body.light a, body.light a:visited, body.light a:visited:hover, body.light a:hover {
 color: #191970;
}

.light .well {
 background-color:#f5f5f5;
}

.light .table-striped tbody tr:nth-child(odd) td,.light .table-striped tbody tr:nth-child(odd) th{background-color:#f9f9f9;}
.light .table tbody tr:hover td,.light .table tbody tr:hover th{background-color:#f5f5f5;}

body.dark {
 color: white;
 background: #000;
 background: linear-gradient(left, rgba(0,0,0,.15) 0%,rgba(158,158,158,.15) 30%,rgba(158,158,158,.15) 70%,rgba(0,0,0,.15) 100%), #000;
 background: -webkit-linear-gradient(left, rgba(0,0,0,.15) 0%,rgba(158,158,158,.15) 30%,rgba(158,158,158,.15) 70%,rgba(0,0,0,.15) 100%), #000;
 background: -moz-linear-gradient(left, rgba(0,0,0,.15) 0%,rgba(158,158,158,.15) 30%,rgba(158,158,158,.15) 70%,rgba(0,0,0,.15) 100%), #000;
}

body.dark a, body.dark a:visited, body.dark a:visited:hover, body.dark a:hover {
 color: #ff9900;
}

body.dark #set_theme {
 background: url('/img/sun.png') top left no-repeat;
}

.dark .well {
 background-color:#999;
}

.dark .table-striped tbody tr:nth-child(odd) td,.dark .table-striped tbody tr:nth-child(odd) th{background-color:#5d5d5d;}
.dark .table tbody tr:hover td,.dark .table tbody tr:hover th{background-color:#5b5b5b;}

p {
 margin: 5px;
}

div.addthis_toolbox {
 margin: 0 auto;
 width: 354px;
}

#set_theme {
 float: left;
 width: 28px;
 height: 28px;
}

#star {
 display: none;
 width: 24px;
 height: 24px;
 cursor: pointer;
}

.empty {
 width: 0;
 height: 0;
}

#brazz_credit, #bugs, #head_text, #search {
 font-size: 75%;
}

#bugs {
 float: right;
 margin-right: 10px;
}

#brazz_credit {
 float: left;
 margin-left: 10px;
}

#search {
 text-align: right;
 position: absolute;
 top: 8px;
 right: 18px;
}

#search img {
 vertical-align: top;
 margin-bottom: 4px;
}

#tos {
 text-align: left;
 font-size: 90%;
}

#tos p{
 margin: 1em;
}

.dialog {
 display: none;
 text-align: left;
}

#addimage_dialog input {
 width: 450px;
}

.well {
 text-align: left;
}

#tags {
 font-size: 80%;
}

#full_site {
 float: right;
 font-size: 70%;
}

#img_container {
 width: 90%;
 height: 100%;
 margin:0 auto;
}

body .noty_text a, body .noty_text a:hover, body .noty_text a:visited, body .noty_text a:visited:hover{
 color: white;
 text-decoration: underline;
}

#carousel {
 display: hidden;
 width:600px;
 height:300px;
 margin:0 auto;
}

#carousel img, body .noty_text img {
 border-radius: 8px;
}

#disqus_thread {
 font-size:70%;
 width: 50%;
 margin:0 auto;
}

#brazzers_text {
 display: none;
 width: 122px;
 height: 24px;
}

#android_link {
 background: url('/img/android_20.png') left no-repeat;
 padding: 5px 0 5px 22px;
}

#keyboard_dialog table {
 border-collapse: collapse;
}

#keyboard_dialog td {
 border: 1px solid #CCC;
 padding: 5px;
}

#keyboard_dialog table tr:nth-child(2n) {
 background-color: #DDD;
}

.key {
 color: white;
 font-family: monospace;
 border-radius: 4px;
 padding: 3px 5px;
 background-color: #667C26;    
}​​