@import url(http://fonts.googleapis.com/css?family=Nunito);

html {
 font-family: 'Nunito', sans-serif;
 margin:0 auto;
 text-align: center;
}

body.light {
 color: black;
 background-color: white;
}

a {
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

body.light #set_theme {
 background: url('/img/moon.png') top left no-repeat;
}

body.light a, body.light a:visited, body.light a:visited:hover, body.light a:hover {
 color: #191970;
}

.light .well {
 background-color:#f5f5f5;
}

.light .table-striped tbody tr:nth-child(odd) td,.light .table-striped tbody tr:nth-child(odd) th{background-color:#f9f9f9;}
.light .table tbody tr:hover td,.light .table tbody tr:hover th{background-color:#f5f5f5;}

body.dark {
 color: white;
 background-color: black;
}

body.dark a, body.dark a:visited, body.dark a:visited:hover, body.dark a:hover {
 color: #ff9900;
}

body.dark #set_theme {
 background: url('/img/sun.png') top left no-repeat;
}

.dark .well {
 background-color:#999;
}

.dark .table-striped tbody tr:nth-child(odd) td,.dark .table-striped tbody tr:nth-child(odd) th{background-color:#5d5d5d;}
.dark .table tbody tr:hover td,.dark .table tbody tr:hover th{background-color:#5b5b5b;}

p {
 margin: 5px;
}

div.addthis_toolbox {
 margin: 0 auto;
 width: 354px;
}

#set_theme {
 float: left;
 width: 28px;
 height: 28px;
}

#brazz_credit, #bugs, #head_text {
 font-size: 75%;
}

#bugs {
 float: right;
 margin-right: 10px;
}

#brazz_credit {
 float: left;
 margin-left: 10px;
}

#search {
 position: absolute;
 top: 8px;
 right: 18px;
}

#tos {
 text-align: left;
 font-size: 90%;
}

#tos p{
 margin: 1em;
}

#report_dialog, #addimage_dialog, #tag_dialog {
 display: none;
 text-align: left;
}

#addimage_dialog input {
 width: 450px;
}

.well {
 text-align: left;
}

#tags {
 font-size: 80%;
}

#full_site {
 float: right;
 font-size: 70%
}

body .noty_text a, body .noty_text a:hover, body .noty_text a:visited, body .noty_text a:visited:hover{
 color: white;
 text-decoration: underline;
}

#disqus_thread {
 font-size:70%;
 width: 50%;
 margin:0 auto;
}
