@import url(http://fonts.googleapis.com/css?family=Nunito);

html {
 font-family: 'Nunito', sans-serif;
 margin:0 auto;
 text-align: center;
}

body.light {
 color: black;
 background-color: white;
}

a {
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

body.light #set_theme {
 background: url('/img/moon.png') top left no-repeat;
}

body.light a, body.light a:visited, body.light a:visited:hover, body.light a:hover {
 color: #191970;
}

body.dark {
 color: white;
 background-color: black;
}

body.dark a, body.dark a:visited, body.dark a:visited:hover, body.dark a:hover {
 color: #ff9900;
}

body.dark #set_theme {
 background: url('/img/sun.png') top left no-repeat;
}

p {
 margin: 5px;
}

div.addthis_toolbox {
 margin: 0 auto;
 width: 354px;
}

#set_theme {
 float: left;
 width: 28px;
 height: 28px;
}

#bugs {
 font-size: 75%;
 float: right;
 margin-right: 10px;
}

#brazz_credit {
 font-size: 75%;
 float: left;
 margin-left: 10px;
}

#scorn {
 font-size: 75%;
 position: absolute;
 top: 8px;
 right: 18px;
}

#tos {
 text-align: left;
 font-size: 90%;
}

#tos p{
 margin: 1em;
}


