.nomobile {
 display: none;
}

#content {
	width: 100%;
}

header  {
	margin-top: -0.8em;
	margin-bottom: 0;
	margin-left: 0;
	transform: translate(-20%) scale(0.6);
	-moz-transform: translate(-20%) scale(0.6);
	-ms-transform: translate(-20%) scale(0.6);
	-webkit-transform: translate(-20%) scale(0.6);
	-o-transform: translate(-20%) scale(0.6);
}

nav > ul  li {
	padding-right: 4px;
}

#profile_image {
	float: none;
	padding-left: 0;
}

#profile_image img {
	transform: translate(50%);
	-moz-transform: translate(50%) scale(2);
	-ms-transform: translate(50%) scale(2);
	-webkit-transform: scale(0.6);
	-o-transform: translate(50%) scale(2);
}

#fdbk_tab {
	display: none;
}