.nomobile {
	display: none!important;
}

header h1 {
	display: none;
}

#user_avatar img {
	height: 20px;
	width: 20px;
}

#profile_image {
	float: none;
	padding-left: 0;

}

#info .image img {
	float: right;
	transform: translate(50%);
	-moz-transform: translate(50%) scale(2);
	-ms-transform: translate(50%) scale(2);
	-webkit-transform: scale(0.6);
	-o-transform: translate(50%) scale(2);
}

#apidocs, #classes {
	float: none;
	width: 100%;
}