@charset "UTF-8";


.icon-android:before { content: '\26'; } /* '&amp;' */
.icon-reddit:before { content: '\3e'; } /* '&gt;' */
.icon-google:before { content: '\47'; } /* 'G' */
.icon-keyboard:before { content: '\2328'; } /* '⌨' */
.icon-cloud:before { content: '\2601'; } /* '☁' */
.icon-star-1:before { content: '\e800'; } /* '' */
.icon-star-empty-1:before { content: '\e801'; } /* '' */
.icon-flag:before { content: '\2691'; } /* '⚑' */
.icon-tools:before { content: '\2692'; } /* '⚒' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-plus-circled:before { content: '\2795'; } /* '➕' */
.icon-user-add:before { content: '\e700'; } /* '' */
.icon-info-circle:before { content: '\e705'; } /* '' */
.icon-tags:before { content: '\e70d'; } /* '' */
.icon-comment:before { content: '\e718'; } /* '' */
.icon-share:before { content: '\e73c'; } /* '' */
.icon-login:before { content: '\e740'; } /* '' */
.icon-logout:before { content: '\e741'; } /* '' */
.icon-resize-full:before { content: '\e744'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-picture-1:before { content: '\e802'; } /* '' */
.icon-picture:before { content: '🌄'; } /* '\1f304' */
.icon-thumbs-up:before { content: '👍'; } /* '\1f44d' */
.icon-thumbs-down:before { content: '👎'; } /* '\1f44e' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-upload:before { content: '📤'; } /* '\1f4e4' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-link:before { content: '🔗'; } /* '\1f517' */