{% extends "base.twig" %}

{% block stylesheets %}
 <link rel='stylesheet' type='text/css' media='screen' href='{{ web_root }}css/themes/misc/jvon.css' />
{% endblock %}

{% block content %}
	<h2>The John VanOrange Network</h2>
	<div id='jvon'>
	 <div class='site'><a href='http://johnvanorange.com'>
		<div id='jvo'><h3><span class='first'>John</span> <span class='second'>Van<span class='title_o'>O</span>range</span></h3>
		 <p>Where it all started. Random images that range from funny to sexy. Some content not suitable for work.</p>
		</div>
	 </a></div>
	 <div class='site'><a href='http://prettylovable.com'>
		<div id='pretty'><h3>Pretty Lovable</h3>
		 <p>Cats, dogs, and other various lovable animals. Designed for viewers of all ages.</p>
		</div>
	 </a></div>
	 <div class='site'><a href='http://moresk.in'>
		<div id='skin'><h3>MoreSkin</h3>
		 <p>Nice assortment of adult images for people interested in the female gender.</p>
		</div>
	 </a></div>
	 <div class='site'><a href='http://dontclick.me'>
		<div id='dont'><h3>The Back Room</h3>
		 <p>One of the dark corners of the Internet. Not for the weak.</p>
		</div>
	 </a></div>
	</div>
{% endblock %}