{% extends "base.twig" %}

{% block title_prepend %}{{ title_text }} {% endblock %}

{% block content %}
	<h2>{{ title_text }}</h2>
	<div class='row'>
	{% for image in images %}
	 <div class='thumb_wrap col-md-1 col-xs-1'>
		<a href="{{ image.page_url }}"><img src="{{ image.media.thumb.url }}"></a>
	 </div>
	{% endfor %}
	</div>
{% endblock %}