@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=PT+Mono);
header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0 0 1px #4d688d;
  font-size: 24px;
}
@media screen and (min-width: 650px) {
  header h1 {
    font-size: 35px;
    /* firefox and IE seem to hate this at 36px */
  }
}
header h1.mini {
  font-size: 24px;
}
.first {
  color: white;
}
.second {
  margin: -0.25em;
  color: #ff8300;
}
.title_o {
  display: inline-block;
  background-image: url('/img/orange_slice_title.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  color: rgba(0, 0, 0, 0);
  text-shadow: none;
  transition: transform 300ms;
}
html {
  font-size: 15px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
body {
  background-color: #4d688d;
  color: #f3f3f3;
}
body.preload * {
  transition: none !important;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
a,
.btn-link {
  color: #f3f3f3;
}
a:hover,
.btn-link:hover {
  color: #b3b3b3;
}
.modal-dialog {
  color: #333333;
}
.modal-dialog a {
  color: #428bca;
}
header {
  width: 100%;
  padding-right: 10px;
}
header h1 {
  margin: 0 0 0 0.3em;
  width: 100%;
  text-align: left;
  transition: font-size 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 1;
}
@media screen and (min-width: 500px) {
  header h1 {
    position: fixed;
  }
}
header h1 a:hover {
  text-decoration: none;
}
header div {
  display: inline-block;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  margin-top: 2em;
}
@media screen and (min-width: 500px) {
  header div {
    float: right;
    margin-top: 0.3em;
  }
}
header div #user_avatar img {
  margin-right: 4px;
  height: 24px;
  width: 24px;
  border-radius: 12px;
}
#content {
  width: 96%;
  margin: auto;
  padding-top: 5px;
}
@media screen and (min-width: 500px) {
  #content {
    padding-top: 3em;
    width: 90%;
  }
}
footer {
  color: #f3f3f3;
  font-size: 80%;
  padding: 10px;
  width: 30em;
  margin: auto;
}
.pressed {
  position: relative;
  top: 2px;
  text-shadow: none;
  transition: all 0.2s;
}
#addImage {
  float: right;
  margin-right: 2em;
}
.btn-primary {
  background-color: #ff8300;
  border-color: #e67600;
  color: #f3f3f3;
}
.btn-primary:hover {
  background-color: #e67600;
  border-color: #cc6900;
  color: #dadada;
}
.colpage img {
  border-radius: 6px;
}
.colpage ul {
  text-align: left;
  margin-left: 20%;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  list-style: none;
}
.colpage ul li ul {
  margin-left: 0;
  width: 100%;
  padding: 0;
  background: 0;
}
.colpage ul li ul li {
  list-style: none;
  margin-left: 1em;
}
.colpage .data {
  font-family: monospace, serif;
}
.main {
  max-width: 100%;
  height: auto;
  border-width: 10px;
  border-color: white;
  border-style: solid;
}
#main {
  width: auto;
  display: block;
}
#tags {
  position: relative;
  font-size: 150%;
  color: #333333;
  line-height: 45px;
  display: inline-block;
}
#tags .tag_wrap {
  white-space: nowrap;
}
#tags a {
  padding: 0.1em 1em 0.3em;
  margin: 0 5px;
  color: #333333;
  border-radius: 19px;
  background-color: white;
  transition: box-shadow 400ms;
}
#tags a:hover {
  box-shadow: 0 0 12px #ff7a00;
  text-decoration: none;
  transition: box-shadow 500ms;
}
#tags a:active {
  background-color: #dcdcdc;
}
.notag {
  color: #f3f3f3;
  padding-right: 1em;
}
#img_container {
  display: inline-block;
  max-width: 100%;
}
#img_container #image_footer {
  background-color: white;
  height: 2em;
}
#social {
  padding: 10px;
}
#social div {
  display: inline-block;
  font-size: 1px;
}
#image_icons {
  width: 20em;
  margin: auto;
}
.like {
  color: #f3f3f3;
  font-size: 2em;
  cursor: pointer;
}
.like:hover {
  background-color: rgba(97, 97, 97, 0.7);
  border-radius: 20px;
}
#like_image {
  float: right;
}
#like_image.highlight {
  color: #6aca4c;
}
#dislike_image {
  float: left;
}
#dislike_image.highlight {
  color: #fa241b;
}
#save_image {
  display: inline-block;
}
#save_image.highlight {
  color: red;
}
#image_footer .dropdown .dropdown-menu {
  right: 0;
  bottom: 0;
  top: inherit;
  left: auto;
  color: #333333;
}
#image_footer .dropdown .dropdown-menu > li > a {
  text-align: left;
  padding-left: 10px;
}
#report_image {
  float: left;
  margin: -5px;
  font-size: 80%;
  color: #333333;
}
#image_tools {
  float: right;
  margin-right: 8px;
}
#tos,
#privacy {
  color: #f3f3f3;
  text-align: left;
  font-size: 90%;
}
#tos p,
#privacy p {
  margin: 1em;
}
.thumb_wrap {
  height: 112px;
  width: 112px;
  position: relative;
  margin: 9px;
  border: 1px solid rgba(160, 160, 160, 0.7);
  border-radius: 3px;
}
.thumb_wrap a {
  display: inline-block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  margin: 5px;
  left: 0px;
}
.thumb_wrap a:hover {
  overflow: visible;
  z-index: 1;
  position: absolute;
  left: -1px;
  top: -1px;
}
.thumb_wrap img {
  position: relative;
  left: 50%;
  margin-left: -80%;
  width: auto!important;
  top: 50%;
  margin-top: -80%;
}
#info_bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(10px) contrast(60%);
  -ms-filter: blur(10px) contrast(60%);
  filter: url(/css/gecko-filter.svg#info);
}
/* Only do this once info loads on demand on the info page
.btn-link, .btn-link:hover {
  background-color: rgba(0,0,0,0.3);
  height: 3em;
}

footer {
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
}*/
#apidocs {
  text-align: left;
  float: right;
  width: 89%;
}
.method,
pre {
  background: rgba(0, 31, 32, 0.8);
  padding: 0.5em 1em;
  margin: 1em;
  border-radius: 20px;
  border: none;
}
.doc_anchor {
  float: left;
}
.endpoint a,
.variable,
code {
  font-family: 'PT Mono', monospace;
  color: white!important;
}
.variable {
  font-weight: bold;
}
.desc {
  display: block;
  padding-left: 2em;
  font-size: 85%;
}
#classes {
  border: 1px dotted white;
  width: 10%;
}
#classes p {
  text-align: left;
  padding-left: 10%;
}
#classes h2 {
  font-size: 90%;
}
.user-stats {
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 10px;
  width: 280px;
}
.user-stats div {
  display: inline-block;
  width: 80px;
  font-size: 4em;
  line-height: 16px;
}
.user-stats div span {
  font-size: 26px;
}
.user-page > div {
  width: 100%;
}
.user-page .links {
  display: inline-block;
  width: 50%;
  padding-right: 4em;
  vertical-align: top;
}
.user-page .image {
  display: inline-block;
  width: 180px;
}
.user-page ul {
  text-align: left;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  list-style: none;
}
.user-page ul li ul {
  margin-left: 0;
  width: 100%;
  padding: 0;
  background: 0;
}
.user-page ul li ul li {
  list-style: none;
  margin-left: 1em;
}
.user-page img {
  border-radius: 6px;
}
/*# sourceMappingURL=jvo.css.map */