@import url(http://fonts.googleapis.com/css?family=Nunito);

@import url(http://fonts.googleapis.com/css?family=Oswald);
header {
  padding-left: 52px;
  background: url('/img/orange_slice_title.svg') left no-repeat;
}
html {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
}
body {
  color: #ffffff;
  background: #000000;
  background: linear-gradient(left, rgba(0, 0, 0, 0.15) 0%, rgba(158, 158, 158, 0.15) 30%, rgba(158, 158, 158, 0.15) 70%, rgba(0, 0, 0, 0.15) 100%), #000000;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.15) 0%, rgba(158, 158, 158, 0.15) 30%, rgba(158, 158, 158, 0.15) 70%, rgba(0, 0, 0, 0.15) 100%), #000000;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.15) 0%, rgba(158, 158, 158, 0.15) 30%, rgba(158, 158, 158, 0.15) 70%, rgba(0, 0, 0, 0.15) 100%), #000000;
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.15) 0%, rgba(158, 158, 158, 0.15) 30%, rgba(158, 158, 158, 0.15) 70%, rgba(0, 0, 0, 0.15) 100%), #000000;
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.15) 0%, rgba(158, 158, 158, 0.15) 30%, rgba(158, 158, 158, 0.15) 70%, rgba(0, 0, 0, 0.15) 100%), #000000;
}
a {
  text-decoration: none;
}
a :hover {
  text-decoration: underline;
}
body a,
body a:visited,
body a:visited:hover,
body a:hover {
  color: #ff9900;
}
header a,
header a:visited,
header a:visited:hover,
header a:hover {
  color: #ffffff;
}
h1 {
  margin: 0;
}
header {
  height: 48px;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  margin: 8px;
  text-shadow: 2px 2px 4px #000000;
}
footer {
  font-size: 75%;
  padding-top: 5em;
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  padding: 6px 6px 6px 12px;
  font-size: 80%;
  border-radius: 0 0 0 8px;
  background: #354468;
  background: linear-gradient(top, #606c88 20%, #354468 100%), #354468;
  background: -webkit-linear-gradient(top, #606c88 20%, #354468 100%), #354468;
  background: -moz-linear-gradient(top, #606c88 20%, #354468 100%), #354468;
  background: -o-linear-gradient(top, #606c88 20%, #354468 100%), #354468;
  background: -ms-linear-gradient(top, #606c88 20%, #354468 100%), #354468;
}
#tag_search {
  padding-left: 5px;
  border-radius: 8px;
}
nav a,
nav a:visited,
nav a:visited:hover,
nav a:hover {
  color: #fff;
}
#save_image {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
#save_image.saved {
  background: url('/img/star.png') top left no-repeat;
}
#save_image.not_saved {
  background: url('/img/unstar.png') top left no-repeat;
}
.image {
  box-shadow: 4px 4px 20px 0 #000;
}
#content {
  width: 80%;
  margin: auto;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav > ul {
  margin: 0 auto;
}
nav > ul p {
  margin: 0;
}
nav > ul li {
  float: left;
  position: relative;
  text-align: center;
  padding-right: 8px;
}
nav > ul li:hover > ul {
  display: block;
}
nav > ul li a {
  display: block;
  padding-top: 3px;
}
nav > ul li a:hover {
  color: #ffffff;
}
nav > ul li p {
  color: #ffffff;
  width: 100px;
  padding: 5px;
  text-decoration: none;
  display: block;
}
nav > ul li ul {
  position: absolute;
  left: 0;
  top: 100%;
  width: 10em;
  display: none;
}
nav > ul li ul li {
  padding: 4px;
  background-color: #354468;
  border-right: none;
  border-top: 1px solid #bcbcbc;
  text-align: left;
  width: 100%;
  z-index: 1;
}
nav > ul li ul li:first-child {
  border: none;
}
nav > ul li ul li:last-child {
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
}
nav > ul li ul li a:hover {
  color: #ff9900;
}
nav > ul li#menu ul {
  left: auto;
  right: 4px;
}
