#image_data {
		border: 1px dotted white;
		float: left;
		font-size: 80%;
		text-align: left;
		width: 15%;
		padding: 5px;
		p {
				padding: 3px;
				margin: 0;
		}
		.tag {
				margin-left: 10px;
				display: inline-block;
		}
}

#content.image_admin {
		float: right;
		padding: 0 2%;
}

#content.merge {
		width: 700px;
		position: relative;
		min-height: 200px;
}

.image1 {
		position: absolute;
		left: 0;
}

.image2 {
		position: absolute;
		right: 0;	
}

.image_container {
		top: 0;
		width: 240px;
		.preview {
				padding-top: 10px;
		}
}

.thumb_wrap {
  height: 200px;
  button {
    padding: 5px 10px;
  }
}

@approve_start: rgb(75, 255, 5);
@approve_end: rgb(17, 151, 55);
@nsfw_start: rgb(250, 220, 60);
@nsfw_end: rgb(160, 124, 9);
@reject_start: rgb(233, 9, 9);
@reject_end: rgb(112, 6, 31);
button {
  &.approve {
  	background: -webkit-gradient(linear, 0 0, 0 100%, from(@approve_start), to(@approve_end));
  	background: -moz-linear-gradient(top, @approve_start, @approve_end);
  	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@approve_start, endColorStr=@approve_end);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@approve_start, endColorStr=@approve_end);
  	display:inline-block;
    &:hover {
      background: @approve_start;
    }
  }
  &.nsfw {
  	background: -webkit-gradient(linear, 0 0, 0 100%, from(@nsfw_start), to(@nsfw_end));
  	background: -moz-linear-gradient(top, @nsfw_start, @nsfw_end);
  	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@nsfw_start, endColorStr=@nsfw_end);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@nsfw_start, endColorStr=@nsfw_end);
  	display:inline-block;
    &:hover {
      background: @nsfw_start;
    }
  }
  &.reject {
  	background: -webkit-gradient(linear, 0 0, 0 100%, from(@reject_start), to(@reject_end));
  	background: -moz-linear-gradient(top, @reject_start, @reject_end);
  	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@reject_start, endColorStr=@reject_end);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@reject_start, endColorStr=@reject_end);
  	display:inline-block;
    &:hover {
      background: @reject_start;
    }
  } 
}