@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);

.linear_gradient_multi4(@start, @start2, @start3, @start4, @color, @color2, @pos) {
    background:
				linear-gradient(@start, @color @pos, @color2 @pos),
				linear-gradient(@start2, @color @pos, @color2 @pos),
				linear-gradient(@start3, @color @pos, @color2 @pos),
				linear-gradient(@start4, @color @pos, @color2 @pos);
		background:
				-webkit-linear-gradient(@start, @color @pos, @color2 @pos),
				-webkit-linear-gradient(@start2, @color @pos, @color2 @pos),
				-webkit-linear-gradient(@start3, @color @pos, @color2 @pos),
				-webkit-linear-gradient(@start4, @color @pos, @color2 @pos);
		background:
				-moz-linear-gradient(@start, @color @pos, @color2 @pos),
				-moz-linear-gradient(@start2, @color @pos, @color2 @pos),
				-moz-linear-gradient(@start3, @color @pos, @color2 @pos),
				-moz-linear-gradient(@start4, @color @pos, @color2 @pos);
		background:
				-o-linear-gradient(@start, @color @pos, @color2 @pos),
				-o-linear-gradient(@start2, @color @pos, @color2 @pos),
				-o-linear-gradient(@start3, @color @pos, @color2 @pos),
				-o-linear-gradient(@start4, @color @pos, @color2 @pos);
		background:
				-ms-linear-gradient(@start, @color @pos, @color2 @pos),
				-ms-linear-gradient(@start2, @color @pos, @color2 @pos),
				-ms-linear-gradient(@start3, @color @pos, @color2 @pos),
				-ms-linear-gradient(@start4, @color @pos, @color2 @pos);
}

.linear_gradient_2(@start, @color_a, @pos_a, @color_b, @pos_b, @color) {
		background: linear-gradient(@start, @color_a @pos_a, @color_b @pos_b), @color;
		background: -webkit-linear-gradient(@start, @color_a @pos_a, @color_b @pos_b), @color;
		background: -moz-linear-gradient(@start, @color_a @pos_a, @color_b @pos_b), @color;
		background: -o-linear-gradient(@start, @color_a @pos_a, @color_b @pos_b), @color;
		background: -ms-linear-gradient(@start, @color_a @pos_a, @color_b @pos_b), @color;
}

.linear_gradient_4(@start, @color_a, @pos_a, @color_b, @pos_b, @color_c, @pos_c, @color_d, @pos_d, @color) {
		background: linear-gradient(@start, @color_a @pos_a, @color_b @pos_b, @color_c @pos_c, @color_d @pos_d), @color;
		background: -webkit-linear-gradient(@start, @color_a @pos_a, @color_b @pos_b, @color_c @pos_c, @color_d @pos_d), @color;
		background: -moz-linear-gradient(@start, @color_a @pos_a, @color_b @pos_b, @color_c @pos_c, @color_d @pos_d), @color;
		background: -o-linear-gradient(@start, @color_a @pos_a, @color_b @pos_b, @color_c @pos_c, @color_d @pos_d), @color;
		background: -ms-linear-gradient(@start, @color_a @pos_a, @color_b @pos_b, @color_c @pos_c, @color_d @pos_d), @color;
}

.border_radius(@tl, @tr, @br, @bl) {
		-moz-border-radius: @tl @tr @br @bl;
		-webkit-border-radius: @tl @tr @br @bl;
		border-radius: @tl @tr @br @bl;
}

.border_radius1(@size) {
    .border_radius(@size, @size, @size, @size);
}

.background_size(@size) {
		-webkit-background-size: @size @size;
		-moz-background-size: @size @size;
		-o-background-size: @size @size;
		background-size: @size @size;
}

html {
		font-size: 15px;
    padding: 0;
    margin:0 auto;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
}

body {
		font-family: 'Open Sans', sans-serif;
		color: @text_color;
		background: @bg_color;
		.linear_gradient_4(left, @body_grad_edge, 0%, @body_grad_center, 30%, @body_grad_center, 70%, @body_grad_edge, 100%, @bg_color);
		a, a:visited, a:visited:hover, a:hover {
				color: @sec_text_color;
		}
		a:hover {
				text-decoration: underline;
		}
}

img {
		border: 0;
}

a {
		text-decoration: none;
		&:hover {
				text-decoration: none;
		}
}

h1 {
		margin: 0;
		font-size: 30px;
		font-weight: bold;
		a {
				&:hover {
						text-decoration: none;
				}
		}
}

header {
		text-align: left;
		text-shadow: 2px 2px 4px #000;
		width: 100%;
		height: 30px;
		position: fixed;
		a, a:visited, a:visited:hover, a:hover {
				color: @text_color;
		}
		&:before {
				content: ' ';
				position: absolute;
				width: 100px;
				left: 5px;
		}
}

footer {
		font-size: 75%;
		position: relative;
		text-align: left;
		padding-left: 4px;
}

#menu {
		position: absolute;
		top: 5px;
		right: 5px;
		li {
				cursor: pointer;
				position: relative;
				padding-left: 0;
				padding-right: 0;
		}
		#user_avatar {
				img {
						margin-top: -2px;
				}
		}
		#username {
				margin-right: 8px;
		}
		#tag_search, .tt-hint {
				height: 22px;
				width: 8em;
				padding-left: 4px;
				border: 1px solid #ccc;
				.border_radius1(3px);
		}
		.icon-search {
				margin-left: 3px;
				margin-top: -1px;
		}
		a, a:visited, a:visited:hover, a:hover, a:active, a:focus {
				color: #fff;
				text-decoration: none;
		}
		.dropdown-menu li, .tt-dropdown-menu {
				a, a:visited, a:visited:hover, a:hover, a:active, a:focus, p {
						color: @sec_text_color;
						text-shadow: none;
				}
		}
}

.btn-primary {
		background-color: @sec_text_color;
		border-color: darken(@sec_text_color, 4%);
		&:hover,
		&:focus,
		&:active,
		&.active {
				background-color: darken(@sec_text_color, 8%);
				border-color: darken(@sec_text_color, 12%);
		}
		&.disabled,
		&[disabled],
		fieldset[disabled] & {
				&,
				&:hover,
				&:focus,
				&:active,
				&.active {
						background-color: @sec_text_color;
						border-color: darken(@sec_text_color, 4%);
				}
		}
}

.main {
		box-shadow: 4px 4px 20px #000;
		max-width: 100%;
		height: auto;
		margin-bottom: 5px;
}

#content {
		padding: 35px 0 25px 0;
		width: 85%;
		margin: auto;
}

#tos, #privacy {
		text-align: left;
		font-size: 90%;
}

#tos p, #privacy{
		margin: 1em;
}

.ui-menu-item, .ui-dialog-title {
	text-shadow: none;
}

#url {
	width: 450px;
}

#keyboardDialog table {
	border-collapse: collapse;
}

#keyboardDialog td {
	border: 1px solid #CCC;
	padding: 5px;
}

#keyboardDialog table tr:nth-child(2n) {
	background-color: #DDD;
}

.key {
	color: white;
	font-family: monospace;
	border-radius: 4px;
	padding: 3px 5px;
	background-color: #667C26;    
}

.tag {
    position: relative;
    font-weight: bold;
    font-size: 10px;
    color: black;
    background-color: #F0EAD6;
    text-shadow: none;
    text-decoration: none;
    padding: 4px 4px 4px 10px;
    margin: 3px;
	.linear_gradient_multi4(45deg, 315deg, 0, 0, transparent, #F3E5AB, 4px);
	.background_size(60%);
    background-position: bottom left, top left, top right, bottom right;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 20px #000;
    transition: all 0.3s;
	&:visited {
		color: black;
	}
	&:hover {
		position: relative;
		font-weight: bold;
		font-size: 12px;
		color: black;
		background-color: #F0EAD6;
		text-shadow: none;
		text-decoration: none;
		padding: 4px;
		padding-left: 10px;
		.linear_gradient_multi4(45deg, 315deg, 0, 0, transparent, #F0EAD6, 4px);
		.background_size(60%);
		background-position: bottom left,  top left, top right, bottom right;
		background-repeat: no-repeat;
	}
}

#tags em {
	font-size: 80%;
}

.addthis_toolbox {
	display: inline-block;
	margin: 10px;
}

#img_container {
	p {
		display: inline-block;
		margin: 0;
		padding: 0;
		font-size: 60%;
		height: 0;
	}
}

.tag_cloud_name {
	padding: 10px;
}

#social {
	font-size: 1px;
	padding: 5px;
}

#facebook_like {
	padding-right: 8px;
	span {
		height: 20px!important;
	}
}

#pintrest {
	display: inline-block;
	padding-right: 8px;
}

.colpage {
	img {
		.border_radius1(6px);
	}
	ul {
		text-align: left;
		margin-left: 20%;
		padding: 1em;
		background-color: rgba(0, 0, 0, 0.5);
		.border_radius(8px,8px,8px,8px);
		list-style: none;
		li {
			ul {
				margin-left: 0;
				width: 100%;
				padding:0;
				background:0;
				li {
					list-style: none;
					margin-left: 1em;
				}
			}
		}
	}
	.data {
		font-family: monospace, serif;
	}
}

#info_bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -100;
	height: 100%;
	width: 100%;
	-webkit-filter: blur(10px) contrast(60%);
	-ms-filter: blur(10px) contrast(60%);
	filter: url(/css/gecko-filter.svg#info);
}

#form {
	div {
		text-align: center;
		display: block;
		.submit {
			display: block;
		}
	}
}

#jvon {
	div.site {
		margin: 0 auto;
		margin-top: 2em;
		font-size: 20px;
		text-align: center;
		max-width: 20em;
		p {
			font-family: 'Carme', sans-serif;
			font-size: 12px;
			text-align: left;
		}
		a {
			color: white;
		}
	}
}

.thumb_wrap {
	display: inline-block;
	height: 164px;
	width: 244px;
	a {
		img {
			margin: 0 auto;
			display: block;
		}
	}
}

#like_image.highlight {
	color: rgb(106, 202, 76);
}

#dislike_image.highlight {
	color: rgb(250, 36, 27);
}

#save_image.highlight {
	color: yellow;
}

.pressed {
	position: relative;
	top: 2px;
	text-shadow: none;
	transition: all 0.2s;
}

#apidocs {
    text-align: left;
    float: right;
    width: 89%;
}

.method, pre {
    background: rgba(0, 31, 32, 0.8);
    padding: 0.5em 1em;
    margin: 1em;
    .border_radius1(20px);
		border: none;
}

.endpoint a, .variable, code {
    font-family: 'PT Mono';
		color: white!important;
}

.variable {
    font-weight: bold;
}

.desc {
    display: block;
    padding-left: 2em;
    font-size: 85%;
}

#classes {
    border: 1px dotted white;
    width: 10%;
    p {
	text-align: left;
	padding-left: 10%;
    }
    h2 {
	font-size: 90%;
    }
}

.modal-dialog {
		color: @sec_text_color;
		text-shadow: none;
}

.alert {
		text-shadow: none;
}

#ad {
		display: inline-block;
		padding: 4px;
		.border_radius1(8px);
		background-color: white;
		font-size: 90%;
		margin-top: 2em;
		a {
				color: #333;
				text-shadow: 0 0 1px transparent;
		}
		.btn {
				margin-right: 8px;
				background: #f3d078;
				background: -moz-linear-gradient(top,#f7dfa5,#f0c14b);
				background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f7dfa5),color-stop(100%,#f0c14b));
				background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
				background: -o-linear-gradient(top,#f7dfa5,#f0c14b);
				background: -ms-linear-gradient(top,#f7dfa5,#f0c14b);
				background: linear-gradient(top,#f7dfa5,#f0c14b);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7dfa5',endColorstr='#f0c14b',GradientType=0);
				border-color: #cba957 #bf942a #aa8326;
				&:hover {
						background:#f1c860;
						background:-moz-linear-gradient(top,#f5d78e,#eeb933);
						background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f5d78e),color-stop(100%,#eeb933));
						background:-webkit-linear-gradient(top,#f5d78e,#eeb933);
						background:-o-linear-gradient(top,#f5d78e,#eeb933);
						background:-ms-linear-gradient(top,#f5d78e,#eeb933);
						background:linear-gradient(top,#f5d78e,#eeb933);
						filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5d78e',endColorstr='#eeb933',GradientType=0);*zoom:1
				}
		}
}

.doc_anchor {
    float: left;
}

#menu .action {
    font-weight: bolder;
    margin-right: 5px;
}