@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);

.linear_gradient_multi4(@start, @start2, @start3, @start4, @color, @color2, @pos) {
    background:
		linear-gradient(@start, @color @pos, @color2 @pos),
		linear-gradient(@start2, @color @pos, @color2 @pos),
		linear-gradient(@start3, @color @pos, @color2 @pos),
		linear-gradient(@start4, @color @pos, @color2 @pos);
	background:
		-webkit-linear-gradient(@start, @color @pos, @color2 @pos),
		-webkit-linear-gradient(@start2, @color @pos, @color2 @pos),
		-webkit-linear-gradient(@start3, @color @pos, @color2 @pos),
		-webkit-linear-gradient(@start4, @color @pos, @color2 @pos);
	background:
		-moz-linear-gradient(@start, @color @pos, @color2 @pos),
		-moz-linear-gradient(@start2, @color @pos, @color2 @pos),
		-moz-linear-gradient(@start3, @color @pos, @color2 @pos),
		-moz-linear-gradient(@start4, @color @pos, @color2 @pos);
	background:
		-o-linear-gradient(@start, @color @pos, @color2 @pos),
		-o-linear-gradient(@start2, @color @pos, @color2 @pos),
		-o-linear-gradient(@start3, @color @pos, @color2 @pos),
		-o-linear-gradient(@start4, @color @pos, @color2 @pos);
	background:
		-ms-linear-gradient(@start, @color @pos, @color2 @pos),
		-ms-linear-gradient(@start2, @color @pos, @color2 @pos),
		-ms-linear-gradient(@start3, @color @pos, @color2 @pos),
		-ms-linear-gradient(@start4, @color @pos, @color2 @pos);
}

.linear_gradient_2(@start, @color_a, @pos_a, @color_b, @pos_b, @color) {
    background: linear-gradient(@start, @color_a @pos_a, @color_b @pos_b), @color;
	background: -webkit-linear-gradient(@start, @color_a @pos_a, @color_b @pos_b), @color;
	background: -moz-linear-gradient(@start, @color_a @pos_a, @color_b @pos_b), @color;
	background: -o-linear-gradient(@start, @color_a @pos_a, @color_b @pos_b), @color;
	background: -ms-linear-gradient(@start, @color_a @pos_a, @color_b @pos_b), @color;
}

.linear_gradient_4(@start, @color_a, @pos_a, @color_b, @pos_b, @color_c, @pos_c, @color_d, @pos_d, @color) {
    background: linear-gradient(@start, @color_a @pos_a, @color_b @pos_b, @color_c @pos_c, @color_d @pos_d), @color;
	background: -webkit-linear-gradient(@start, @color_a @pos_a, @color_b @pos_b, @color_c @pos_c, @color_d @pos_d), @color;
	background: -moz-linear-gradient(@start, @color_a @pos_a, @color_b @pos_b, @color_c @pos_c, @color_d @pos_d), @color;
	background: -o-linear-gradient(@start, @color_a @pos_a, @color_b @pos_b, @color_c @pos_c, @color_d @pos_d), @color;
	background: -ms-linear-gradient(@start, @color_a @pos_a, @color_b @pos_b, @color_c @pos_c, @color_d @pos_d), @color;
}

.border_radius(@tl, @tr, @br, @bl) {
	-moz-border-radius: @tl @tr @br @bl;
	-webkit-border-radius: @tl @tr @br @bl;
	border-radius: @tl @tr @br @bl;
}

.border_radius1(@size) {
    .border_radius(@size, @size, @size, @size);
}

.background_size(@size) {
	-webkit-background-size: @size @size;
	-moz-background-size: @size @size;
	-o-background-size: @size @size;
	background-size: @size @size;
}

html {
    font-family: 'Open Sans', sans-serif;
	font-size: 15px;
    padding: 0;
    margin:0 auto;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
}

body {
	color: @text_color;
	background: @bg_color;
    .linear_gradient_4(left, @body_grad_edge, 0%, @body_grad_center, 30%, @body_grad_center, 70%, @body_grad_edge, 100%, @bg_color);
}

img {
	border: 0;
}

a {
    text-decoration: none;
	:hover {
		text-decoration: none;
	}
}

body a, body a:visited, body a:visited:hover, body a:hover {
    color: #ff9900;
}

button {
	color: #ffffff;
	font-size: 12px;
	padding: 5px;
	text-decoration: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-shadow: 1px 1px 3px #666666;
	border: solid @button_border 1px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(@button_start), to(@button_end));
	background: -moz-linear-gradient(top, @button_start, @button_end);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@button_start, endColorStr=@button_end);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@button_start, endColorStr=@button_end);
	display:inline-block;
}
button:hover {
	background: @button_hover;
}

header a, header a:visited, header a:visited:hover, header a:hover {
	color: @text_color;
}

h1 {
  margin: 0;
}

header {
    height: 48px;
    text-align: left;
    margin: 8px;
    text-shadow: 2px 2px 4px #000
}

footer {
    font-size: 75%;
    padding-top: 5em;
	clear: both;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 24px;
    padding: 6px 6px 6px 12px;
    font-size: 80%;
    border-radius: 0 0 0 8px;
    background: @menu_color;
	z-index: 10;
	.linear_gradient_2(top, lighten(@menu_color, 15%), 20%, @menu_color, 100%, @menu_color);
}

#tag_search {
    padding-left: 5px;
    border-radius: 8px;
}

nav a, nav a:visited, nav a:visited:hover, nav a:hover {
    color: #fff;
}

.image {
    box-shadow: 4px 4px 20px #000;
	max-width: 100%;
	height: auto;
}

#content {
	width: 80%;
	margin: auto;
}

#tos, #privacy {
	text-align: left;
	font-size: 90%;
}

#tos p, #privacy{
	margin: 1em;
}

.ui-menu-item, .ui-dialog-title {
	text-shadow: none;
}

#url {
	width: 450px;
}

.dialog {
	text-align: left;
	display: none;
	text-shadow: none;
	.submit {
		display: none;
	}
}

#keyboard_dialog table {
	border-collapse: collapse;
}

#keyboard_dialog td {
	border: 1px solid #CCC;
	padding: 5px;
}

#keyboard_dialog table tr:nth-child(2n) {
	background-color: #DDD;
}

.key {
	color: white;
	font-family: monospace;
	border-radius: 4px;
	padding: 3px 5px;
	background-color: #667C26;    
}

#search {
	margin-top: 1px;
}

.tag {
    position: relative;
    font-weight: bold;
    font-size: 10px;
    color: black;
    background-color: #F0EAD6;
    text-shadow: none;
    text-decoration: none;
    padding: 4px 4px 4px 10px;
    margin: 3px;
	.linear_gradient_multi4(45deg, 315deg, 0, 0, transparent, #F3E5AB, 4px);
	.background_size(60%);
    background-position: bottom left, top left, top right, bottom right;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 20px #000;
    transition: all 0.3s;
	&:visited {
		color: black;
	}
	&:hover {
		position: relative;
		font-weight: bold;
		font-size: 12px;
		color: black;
		background-color: #F0EAD6;
		text-shadow: none;
		text-decoration: none;
		padding: 4px;
		padding-left: 10px;
		.linear_gradient_multi4(45deg, 315deg, 0, 0, transparent, #F0EAD6, 4px);
		.background_size(60%);
		background-position: bottom left,  top left, top right, bottom right;
		background-repeat: no-repeat;
	}
}

.addthis_toolbox {
	display: inline-block;
	margin: 10px;
}

#img_container {
	p {
		display: inline-block;
		margin: 0;
		padding: 0;
		font-size: 60%;
		height: 0;
	}
}

#profile_image {
	float: left;
	padding-left: 10em;
	img {
		.border_radius(8px, 8px, 8px, 8px);
	}
	p {
	 font-size: 80%;
	}
}

.tag_cloud_name {
	padding: 10px;
}

#social {
	font-size: 1px;
	padding: 5px;
}

#facebook_like {
	padding-right: 8px;
	span {
		height: 20px!important;
	}
}

#pintrest {
	display: inline-block;
	padding-right: 8px;
}

#info {
	h1 {
		margin-bottom: 1em;
	}
	img {
		float: right;
		margin-right: 20%;
	}
	ul {
		text-align: left;
		margin-left: 20%;
		width: 30%;
		padding: 1em;
		background-color: rgba(0, 0, 0, 0.5);
		.border_radius(8px,8px,8px,8px);
		li {
			ul {
				margin-left: 0;
				width: 100%;
				padding:0;
				background:0;
				li {
					list-style: none;
					margin-left: 1em;
				}
			}
		}
	}
	.data {
		font-family: monospace, serif;
	}
}

#info_bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -100;
	height: 100%;
	width: 100%;
	-webkit-filter: blur(10px) contrast(60%);
	-ms-filter: blur(10px) contrast(60%);
	filter: url(/css/gecko-filter.svg#info);
}

#form {
	div {
		text-align: center;
		display: block;
		.submit {
			display: block;
		}
	}
}

#jvon {
	div.site {
		margin: 0 auto;
		margin-top: 2em;
		font-size: 20px;
		text-align: center;
		max-width: 20em;
		p {
			font-family: 'Carme', sans-serif;
			font-size: 12px;
			text-align: left;
		}
		a {
			color: white;
		}
	}
}

.thumb_wrap {
	display: inline-block;
	height: 164px;
	width: 244px;
	a {
		img {
			margin: 0 auto;
			display: block;
		}
	}
}

#like_image.highlight {
	color: rgb(106, 202, 76);
}

#dislike_image.highlight {
	color: rgb(250, 36, 27);
}

#save_image.highlight {
	color: yellow;
}

.pressed {
	position: relative;
	top: 2px;
	text-shadow: none;
}

.apidocs {
    text-align: left;
    float: right;
    width: 89%;
}

.method {
    background: rgba(0, 31, 32, 0.8);
    padding: 0.5em 1em;
    margin: 1em;
    .border_radius1(20px);
}

.endpoint a, .variable {
    font-family: 'PT Mono';
}

.variable {
    font-weight: bold;
}

.desc {
    display: block;
    padding-left: 2em;
    font-size: 85%;
}

#classes {
    float: left;
    border: 1px dotted white;
    width: 10%;
    p {
	text-align: left;
	padding-left: 10%;
    }
}

@import 'menu';