ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav > ul {
	margin: 0 auto;
	p {
		margin: 0;
	}
	li {
		float: left;
		position: relative;
		text-align: center;
		padding-right: 8px;
		&#user_avatar {
			margin-top: -3px;
		}
		&.icon {
				cursor: pointer;
				font-size: 150%;
		}
		&:hover > ul {
			display: block;
		}
		a {
			display: block;
			padding-top: 3px;
			&:hover {
				/*color: #ffffff;*/
			}
		}
		p {
			color: #ffffff;
			width: 100px;
			padding: 5px;
			text-decoration: none;
			display: block;
		}
		ul {
			position: absolute;
			left: 0;
			top: 100%;
			width: 13em;
			display: none;
			li {
				font-size: 14px;
				padding: 4px;
				background-color: @menu_color;
				border-right: none;
				border-top: 1px solid #bcbcbc;
				text-align: left;
				width: 100%;
				z-index: 1;
				&:first-child {
					border: none;
				}
				&:last-child {
					.border_radius(0, 0, 10px, 10px);
				}
				&:hover {
					background-color: lighten(@menu_color, 20%);
				}
				a {
					height: 16px;
					&:hover {
						color: #ff9900;
					}
				}
			}
		}
		&#menu {
			ul {
				left: auto;
				right: 4px;
			}
		}
	}
}