ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav > ul {
	margin: 0 auto;
	p {
		margin: 0;
	}
	li {
		float: left;
		position: relative;
		text-align: center;
		padding-right: 8px;
		&.icon {
				width: 24px;
				height: 24px;
				background: url('/img/menu_icons.png') no-repeat;
				background-position: -24px 0;
				cursor: pointer;
		}
		&:hover > ul {
			display: block;
		}
		a {
			display: block;
			padding-top: 3px;
			&:hover {
				color: #ffffff;
			}
		}
		p {
			color: #ffffff;
			width: 100px;
			padding: 5px;
			text-decoration: none;
			display: block;
		}
		ul {
			position: absolute;
			left: 0;
			top: 100%;
			width: 13em;
			display: none;
			li {
				padding: 4px;
				background-color: @menu_color;
				border-right: none;
				border-top: 1px solid #bcbcbc;
				text-align: left;
				width: 100%;
				z-index: 1;
				&:first-child {
					border: none;
				}
				&:last-child {
					.border_radius(0, 0, 10px, 10px);
				}
				&:hover {
					background-color: lighten(@menu_color, 20%);
				}
				a {
					height: 16px;
					padding: 0 0 0 20px;
					background: url('/img/social.png') no-repeat;
					background-position: -16px 0;
					&:hover {
						color: #ff9900;
					}
				}
			}
		}
		&#menu {
			ul {
				left: auto;
				right: 4px;
			}
		}
	}
}

//Sprite positions

//Menubar

#add_image {
		background-position: 0 0px;
}
#save_image.saved {
		background-position: 0 -96px;
}
#save_image.not_saved {
		background-position: 0 -120px;
}
#share_image {
		background-position: 0 -24px;
}
#report_image {
		background-position: 0 -48px;
}
#search_image {
		background-position: 0 -72px;
}
#menu {
		background-position: 0 -144px;
}

//Dropdowns
#facebook_menu {
		background-position: 0 -48px;
}
#twitter_menu {
		background-position: 0 -16px;
}
#reddit_menu {
		background-position: 0 -80px;
}
#email_menu {
		background-position: 0 -32px;
}
#android_menu {
		background-position: 0 0;
}