@import url(https://fonts.googleapis.com/css?family=Montserrat);

@bg_color: #4D688D;

header h1, #jvo {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
  text-transform: uppercase;
	text-shadow: 0 0 1px @bg_color;
	&.mini {
		font-size: 24px;
  }
}

.first {
  color: white;
}

.second {
  margin: -0.25em;
  color: #ff8300;
}

.title_o {
  background-image: url('/img/orange_slice_title.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
  color: rgba(0, 0, 0, 0);
	text-shadow: none;
}

@import 'res/base';