@bg_color: #5D57C5;
@text_color: white;

@body_grad_edge: rgba(0, 0, 0, 0.15);
@body_grad_center: rgba(100,15,195,.6);

@menu_color: #DD7308;

header {
    //padding-left: 52px;
    //background: url('/img/orange_slice_title.svg') left no-repeat;
}


@import 'base';