@import url(http://fonts.googleapis.com/css?family=Oswald);

@bg_color: black;
@text_color: white;

@body_grad_edge: rgba(0, 0, 0, 0.15);
@body_grad_center: rgba(158,158,158,.15);

@button_start: #3d3b3c;
@button_end: lighten(@button_start, 10%);
@button_border: #050505;
@button_hover: #664f0b;

@menu_color: #354468;

header, #skin {
    padding-left: 62px;
    background: url('/img/lips_46.png') left no-repeat;
	font-family: 'Oswald', sans-serif;
}


@import 'base';