#Protect inc files from being read
<FilesMatch "\.(inc)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

#Block bad bots
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} ^(curl) [NC,OR]
RewriteRule . - [F,L]

<IfModule mod_deflate.c>
 AddOutputFilterByType DEFLATE text/html text/css application/javascript
</IfModule>

DirectoryIndex router.php

RewriteEngine On
Options +FollowSymlinks

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . router.php

ErrorDocument 403 /error/403
ErrorDocument 404 /error/404
