#Protect inc files from being read
<FilesMatch "\.(inc)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

<IfModule mod_deflate.c>
 AddOutputFilterByType DEFLATE text/html text/css application/javascript image/svg+xml
</IfModule>

<ifModule mod_expires.c>
ExpiresActive On
ExpiresDefault A432000
ExpiresByType application/x-javascript A432000
ExpiresByType application/javascript A432000
</ifModule>

#php_value request_order CGP

DirectoryIndex router.php

RewriteEngine On
Options +FollowSymlinks

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . router.php

ErrorDocument 403 /error/403
ErrorDocument 404 /error/404
