#Protect inc files from being read
<FilesMatch "\.(inc)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

DirectoryIndex random.php

RewriteEngine On
Options +FollowSymlinks

RewriteRule ^display/(.*)$ display.php?image=$1 [L]
RewriteRule ^brazzify/(.*)$ display.php?image=$1&brazzify [L]
RewriteRule ^random$ random.php [L]
RewriteRule ^error/(.*)$ error.php?number=$1 [L]

ErrorDocument 403 /error/403
ErrorDocument 404 /error/404
