@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    font-size: 15px;
    padding: 0;
    margin:0 auto;
    text-align: center;
}

body {
    background-color: @bg_color;
    &.preload * {
        transition: none !important;
    }
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    
    h1 {
        margin: 0 0 0 0.3em;
        text-align: left;
        transition: font-size 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
        a:hover{
            text-decoration: none;
        }
    }
}

#content {
    padding-top: 3em;
    width: 90%;
		margin: auto;
}

@import 'display';
