#image_data {
  border: 1px dotted white;
  float: left;
  font-size: 80%;
  text-align: left;
  width: 15%;
  padding: 5px;
}
#image_data p {
  padding: 3px;
  margin: 0;
}
#image_data .tag {
  margin-left: 10px;
  display: inline-block;
}
#content.image_admin {
  float: right;
  padding: 0 2%;
}
#content.merge {
  width: 700px;
  position: relative;
  min-height: 200px;
}
.image1 {
  position: absolute;
  left: 0;
}
.image2 {
  position: absolute;
  right: 0;
}
.image_container {
  top: 0;
  width: 240px;
}
.image_container .preview {
  padding-top: 10px;
}
.thumb_wrap {
  height: 200px;
}
.thumb_wrap button {
  padding: 5px 10px;
}
button.approve {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#4bff05), to(#119737));
  background: -moz-linear-gradient(top, #4bff05, #119737);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#4bff05, endColorStr=#119737);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#4bff05, endColorStr=#119737);
  display: inline-block;
}
button.approve:hover {
  background: #4bff05;
}
button.nsfw {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fadc3c), to(#a07c09));
  background: -moz-linear-gradient(top, #fadc3c, #a07c09);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fadc3c, endColorStr=#a07c09);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fadc3c, endColorStr=#a07c09);
  display: inline-block;
}
button.nsfw:hover {
  background: #fadc3c;
}
button.reject {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e90909), to(#70061f));
  background: -moz-linear-gradient(top, #e90909, #70061f);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#e90909, endColorStr=#70061f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#e90909, endColorStr=#70061f);
  display: inline-block;
}
button.reject:hover {
  background: #e90909;
}
