<script type="text/template" id="addTagDialog">
	<form class="form-horizontal">
		<div class="form-group">
			<label for="addTag" class="col-lg-2 control-label">Tag</label>
			<div class="col-lg-10">
				<input type="text" class="form-control focus submit" id="addTag" placeholder="Tag">
			</div>
		</div>
	</form>
</script>