<script type="text/template" id="addImageDialog">
	<form class="form-horizontal">
		<div class="form-group">
			<label for="addImageURL" class="col-lg-2 control-label">{% trans 'Image URL' %}</label>
			<div class="col-lg-10">
				<input type="url" class="form-control submit" id="addImageURL" placeholder='http://example.com/image.png'>
			</div>
		</div>
		<button type="button" class="primary submit">{% trans 'Add' %}</button>
	</form>
	<p>- OR -</p>
	<div id='drop' style='background-color: white; margin-top: 15px' class='dropzone'></div>
</script>