<div class="modal fade" id="addImageDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Image</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="addImageURL" class="col-lg-2 control-label">Image URL</label>
            <div class="col-lg-10">
              <input type="url" class="form-control" id="addImageURL" value='http://'>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id='addImageSubmit'>Add</button>
      </div>
    </div>
  </div>
</div>