<script type="text/template" id="adminMessageDialog">
	<p>Have any suggestions or issues with this site?</p>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="messageName" class="col-lg-2 control-label">Name</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="messageName" placeholder="Your Name">
			</div>
		</div>
		<div class="form-group">
			<label for="messageEmail" class="col-lg-2 control-label">Email</label>
			<div class="col-lg-10">
				<input type="email" class="form-control" id="messageEmail" placeholder="Your Email">
			</div>
		</div>
		<div class="form-group">
			<label for="messageText" class="col-lg-2 control-label">Message</label>
			<div class="col-lg-10">
				<textarea class="form-control" id="messageText" placeholder="Message"></textarea>
			</div>
		</div>
	</form>
</script>