<script type="text/template" id="createAcctDialog">
	<form class="form-horizontal">
		<div class="form-group">
			<label for="createUsername" class="col-lg-2 control-label">Username</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="createUsername" placeholder="Username" required>
			</div>
		</div>
		<div class="form-group">
			<label for="createEmail" class="col-lg-2 control-label">Email</label>
			<div class="col-lg-10">
				<input type="email" class="form-control submit" id="createEmail" placeholder="Email" required>
			</div>
		</div>
		<div class="form-group">
			<label for="createPassword" class="col-lg-2 control-label">Password</label>
			<div class="col-lg-10">
				<input type="password" class="form-control" id="createPassword" placeholder="Password" required>
			</div>
		</div>
		<div class="form-group">
			<label for="createPasswordConfirm" class="col-lg-2 control-label">Confirm Password</label>
			<div class="col-lg-10">
				<input type="password" class="form-control" id="createPasswordConfirm" placeholder="Confirm Password" required>
			</div>
		</div>
	</form>
</script>