<div class="modal fade" id="createAcctDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans 'Create Account' %}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="createUsername" class="col-lg-2 control-label">{% trans 'Username' %}</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="createUsername" placeholder="{% trans 'Username' %}" required>
            </div>
          </div>
          <div class="form-group">
            <label for="createEmail" class="col-lg-2 control-label">{% trans 'Email' %}</label>
            <div class="col-lg-10">
              <input type="email" class="form-control submit" id="createEmail" placeholder="{% trans 'Email' %}" required>
            </div>
          </div>
          <div class="form-group">
            <label for="createPassword" class="col-lg-2 control-label">{% trans 'Password' %}</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="createPassword" placeholder="{% trans 'Password' %}" required>
            </div>
          </div>
          <div class="form-group">
            <label for="createPasswordConfirm" class="col-lg-2 control-label">{% trans 'Confirm Password' %}</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="createPasswordConfirm" placeholder="{% trans 'Confirm Password' %}" required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
        <button type="button" class="btn btn-primary submit">{% trans 'Create' %}</button>
      </div>
    </div>
  </div>
</div>
