<div class="modal fade" id="filterDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans 'Filter Images' %}</h4>
      </div>
      <div class="modal-body row">
        <form class="form-inline col-md-4" role='form'>
					<div class="checkbox">
						<label>
							<input type="checkbox" value='format'> {% trans 'Format' %}
						</label>
					</div>
					<div class="form-group">
						<select id='format' class='form-control'>
							<option value='jpg'>JPG</option>
							<option value='png'>PNG</option>
							<option value='gif'>GIF</option>
						</select>
					</div>
				</form>
        <form class="form-inline col-md-4" role='form'>
					<div class="checkbox">
						<label>
							<input type="checkbox" value='animated'> {% trans 'Animated' %}
						</label>
					</div>
					<div class="form-group">
						<select id='animated' class='form-control'>
							<option value='1'>{% trans 'Yes' %}</option>
							<option value='0'>{% trans 'No' %}</option>
						</select>
					</div>
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
				<button type="button" class="btn btn-default" id='filterClear'>{% trans 'Clear Filters' %}</button>
        <button type="button" class="btn btn-primary" id='filterSubmit'>{% trans 'Save' %}</button>
      </div>
    </div>
  </div>
</div>