<div class="modal fade" id="keyboardDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Keyboard Shortcuts</h4>
      </div>
      <div class="modal-body">
				<table>
					<thead>
						<tr>
						 <th>Key</th>
						 <th>action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						 <td><span class='key'>space</span></td>
						 <td>Load random image</td>
						</tr>
						<tr>
						 <td><span class='key'>&larr;</span></td>
						 <td>Go back in browser history</td>
						</tr>
						<tr>
						 <td><span class='key'>&rarr;</span></td>
						 <td>Go forward in browser history</td>
						</tr>
						<tr>
						 <td><span class='key'>t</span></td>
						 <td>Add tag</td>
						</tr>
						<tr>
						 <td><span class='key'>r</span></td>
						 <td>Report image</td>
						</tr>
						{% if user %}
						<tr>
						 <td><span class='key'>s</span></td>
						 <td>Save image</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>