<script type="text/template" id="pwresetRequestDialog">
	<p>{% trans 'Enter your username and an email will be sent with a link to reset the password on your account.' %}</p>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="pwresetRequestUsername" class="col-lg-2 control-label">{% trans 'Username' %}</label>
			<div class="col-lg-10">
				<input type="text" class="form-control submit" id="pwresetRequestUsername" placeholder="{% trans 'Username' %}" required>
			</div>
		</div>
	</form>
</script>