<div class="modal fade" id="pwresetDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Forgot Password</h4>
      </div>
      <div class="modal-body">
        <p class='pullleft'>Enter your username and an email will be sent with a link to reset the password on your account.</p>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="pwresetUsername" class="col-lg-2 control-label">Username</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="pwresetUsername" placeholder="Username" required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id='pwresetSubmit'>Submit</button>
      </div>
    </div>
  </div>
</div>