<div class="modal fade" id="searchDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans 'Search Tags' %}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="searchTag" class="col-lg-2 control-label">{% trans 'Tag' %}</label>
            <div class="col-lg-10">
              <input type="text" class="form-control focus submit" id="searchTag" placeholder="{% trans 'Tag' %}">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal">{% trans 'Close' %}</button>
        <button type="button" class="primary submit">{% trans 'Search' %}</button>
      </div>
    </div>
  </div>
</div>
