{% extends "base.twig" %}

{% block content %}
	<h2>{% trans 'Image Mass Approval' %}</h2>

	<div class='row'></div>
{% endblock %}

{% block stylesheets %}
	<link rel='stylesheet' type='text/css' href='{{ web_root }}css/{{ site_theme }}/admin.css' />
{% endblock %}

{% block javascript %}
	<script src='{{ web_root }}js/admin/image.js'></script>
	<script src='{{ web_root }}js/admin/mass.js'></script>
{% endblock %}
