{% extends "base.twig" %}

{% block content %}
	<h2>Image Mass Approval</h2>
	
	<div id='content'></div>
{% endblock %}

{% block stylesheets %}
	<link rel='stylesheet' type='text/css' href='{$web_root}css/themes/admin/admin.css' />
{% endblock %}

{% block javascript %}
	<script src='{$web_root}js/admin.js'></script>
	<script src='{$web_root}js/mass.js'></script>
{% endblock %}