{% extends "base.twig" %}

{% block content %}
	<h2>Merge Admin</h2>
	
	<div id='content' class='merge'>
	
		<div class='image1 image_container'>
		 <input name='image1' id='image1' class='mergee'>
		 <div class='preview'><img src=''></div>
		</div>
		
		<button id='merge'>Merge</button>
	 
		<div class='image2 image_container'>
		 <input name='image2' id='image2' class='mergee'>
		 <div class='preview'><img src=''></div>
		</div>
	
	</div>
{% endblock %}

{% block stylesheets %}
	<link rel='stylesheet' type='text/css' href='{$web_root}css/themes/admin/admin.css' />
{% endblock %}

{% block javascript %}
	<script src='{$web_root}js/admin.js'></script>
{% endblock %}