{% extends "base.twig" %}

{% block content %}
	<p>File Retrieval Bot is designed to find images from various sources and download them. The bot is designed to restrict the amount of images downloaded in a certain period of time.</p>
	
	<p>If there are any issues with the bot, please feel free to contact cameron@bulock.com</p>
{% endblock %}