{% extends "base.twig" %}

{% block content %}
	<h1>Tag Cloud</h1>
	<div id='tag_cloud'>
	{% for tag in tags %}
	 <span class='tag_cloud_name' style='font-size: {{ tag.weight }}px'><a href='/t/{{ tag.basename }}'>{{ tag.name }}</a></span>
	{% endfor %}
	</div>
{% endblock %}