{% extends "base.twig" %}

{% block content %}
	<p>An unexpected error occured.  Error code: {{ code }}</p>
	<p class='alert alert-danger'>Error: {{ message }}</p>
{% endblock %}

{% block javascript %}
	<script src="{{ web_root }}js/filter.js"></script>
{% endblock %}