{% extends "base.twig" %}

{% block content %}
	<p>{% trans 'An unexpected error occured.' %}  {% trans 'Error code' %}: {{ code }}</p>
	<p class='alert alert-danger'>{% trans 'Error' %}: {{ message }}</p>
{% endblock %}