{% extends "base.twig" %}

{% block content %}
<div class='row'>
{% if result.message %}<p class='alert alert-info col-md-6 col-md-offset-3'>{{ result.message }}</p>{% endif %}
{% if result.error %}<p class='alert alert-danger col-md-6 col-md-offset-3'>{{ result.error }}</p>{% endif %}
</div>

<p><a href='/'>{% trans 'Return to Main Page' %}</a></p>
{% endblock %}