{% extends "base.twig" %}

{% block stylesheets %}
	<link rel='stylesheet' type='text/css' media='screen' href='{{ web_root }}css3/themes/jvo/jvo.css' />
	<link rel='stylesheet' type='text/css' media='screen' href='{{ web_root }}css3/themes/pretty/pretty.css' />
	<link rel='stylesheet' type='text/css' media='screen' href='{{ web_root }}css3/themes/skin/skin.css' />
	<link rel='stylesheet' type='text/css' media='screen' href='{{ web_root }}css3/themes/dont/dont.css' />
{% endblock %}

{% block content %}
	<h1>The John VanOrange Network</h1>
	<div id='jvon'>
	 <div class='site'><a href='http://johnvanorange.com'>
		<div id='jvo'>John VanOrange
		 <p>Where it all started. Random images that range from funny to sexy. Some content not suitable for work.</p>
		</div>
	 </a></div>
	 <div class='site'><a href='http://prettylovable.com'>
		<div id='pretty'>Pretty Lovable
		 <p>Cats, dogs, and other various lovable animals. Designed for viewers of all ages.</p>
		</div>
	 </a></div>
	 <div class='site'><a href='http://moresk.in'>
		<div id='skin'>MoreSkin
		 <p>Nice assortment of adult images.</p>
		</div>
	 </a></div>
	 <div class='site'><a href='http://dontclick.me'>
		<div id='dont'>The Back Room
		 <p>One of the dark corners of the Internet. Not for the weak.</p>
		</div>
	 </a></div>
	</div>
{% endblock %}