{% extends "base.twig" %}

{% block title_prepend %}{{ title_text }} {% endblock %}

{% block content %}
	<h1>{{ title_text }}</h1>
	<div>
	{% for image in images %}
	 <div class='thumb_wrap'>
		<a href="{{ image.page_url }}"><img src="{{ image.media.thumb.url }}"></a>
	 </div>
	{% endfor %}
	</div>
{% endblock %}