<FilesMatch "docview.php">
 Order Allow,Deny
 Allow from all
</FilesMatch>

<FilesMatch "update-hook.php">
 Order Deny, Allow
 Deny from all
 Allow from 204.232.175.64/27
 Allow from 192.30.252.0/22
</FilesMatch>

Options -Indexes
Deny from all