@font-face{
	font-family:'Source Sans Pro';
	font-style:normal;
	font-weight:400;
	src:local('Source Sans Pro Regular'),url(//brick.a.ssl.fastly.net/fonts/sourcesanspro/400.woff) format('woff')
}

@font-face{
	font-family:'Source Sans Pro';
	font-style:normal;
	font-weight:900;
	src:local('Source Sans Pro Black'),url(//brick.a.ssl.fastly.net/fonts/sourcesanspro/900.woff) format('woff')
}